---
import Icon from "@components/Icon.astro";
const imageStyling =
  "img-container flex items-center justify-center h-[153px] w-full md:w-[388px] lg:w-[600px] py-[20px] sm:py-[25px] md:py-[30px]";
---

<div
  class="partner-container flex flex-col gap-5 sm:gap-10 md:gap-[45px] justify-center items-center p-5 sm:p-10 md:p-20 bg-[#00000D]"
>
  <!-- first session -->
  <div class="flex flex-col items-center gap-3 sm:gap-5">
    <p
      class="item text-[#FFCD00] text-sm sm:text-base md:text-[16px] lg:text-[24px] uppercase"
    >
      partners
    </p>
    <h2
      class="item text-white text-center font-bold text-4xl lg:text-[55px] tracking-tighter leading-tight max-w-[900px] w-full mx-auto capitalize"
    >
      our partners that help shape the lasting impact
    </h2>
    <p
      class="item font-google font-medium w-full md:w-[500px] lg:w-[700px] text-center text-sm sm:text-base text-[#7D7D7D] md:text-[20px] leading-[200px]"
    >
      Join us for thrilling sessions, workshops, and networking opportunities
      around the exciting world of technology.
    </p>
  </div>
  <!-- first section -->
  <div class="flex flex-col items-center gap-3 sm:gap-5 w-full max-w-[1600px]">
    <div
      class="flex flex-col sm:flex-row justify-center sm:justify-between w-full gap-3 sm:gap-5"
    >
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/women-tech.webp" alt="" class="w-[272px]" />
      </div>
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/propel.webp" alt="" class="w-[207px]" />
      </div>
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/gida.webp" alt="" class="w-[186px]" />
      </div>
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/dome.webp" alt="" class="w-[234px]" />
      </div>
    </div>
    <!-- second container -->
    <div
      class="flex flex-col sm:flex-row justify-center sm:justify-between w-full gap-3 sm:gap-5"
    >
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/alphablock.webp" alt="" class="w-[290px]" />
      </div>
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/codetivite.webp" alt="" class="w-[268px]" />
      </div>
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/beyond-pixels.webp" alt="" class="w-[233px]" />
      </div>
    </div>

    <!-- third container -->
    <div
      class="flex flex-col sm:flex-row justify-center sm:justify-between w-full gap-3 sm:gap-5"
    >
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/limelight.webp" alt="" class="w-[100px]" />
      </div>
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/the-sos.webp" alt="" class="w-[80px]" />
      </div>
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/afia.webp" alt="" class="w-[197px]" />
      </div>
      <div class={`item ${imageStyling}`}>
        <img src="/images/2025/yelobyte.webp" alt="" class="w-[238px]" />
      </div>
    </div>
  </div>

  <style>
    .img-container {
      border: 1px solid gray;
      border-radius: 200px;
      border-style: dashed;
      border-spacing: 200px;
    }

    p {
      line-height: 40px;
    }

    span {
      color: #34a853;
    }
  </style>
  <script>
    import { animate, stagger, inView } from "motion";

    let hasAnimated = false;

    inView(".partner-container", (element, _entry) => {
      if (hasAnimated) return;

      const items = (element as HTMLElement).querySelectorAll(".item");

      animate(
        items,
        { opacity: [0, 1], y: [20, 0] },
        { duration: 0.8, delay: stagger(0.25) }
      );

      hasAnimated = true;
      return () => {};
    });
  </script>
</div>
